Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Create Ia_redshift_distribution.py
  skypy/supernova/Ia_redshift_distribution.py
Owners: @skypyproject/supernova-developers

decomplexify skypy script main()
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

fix missing import
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

test cases for scalar and sequence function arguments
  skypy/pipeline/tests/data/test_config.yml
Owners: @skypyproject/skypy-infrastructure

remove impossible case
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Disable Codecov annotations
  codecov.yml
Owners: none

Disable Codecov annotations (#258)
  codecov.yml
Owners: none

Add project level pep8 configuration for codeclimate
  setup.cfg
Owners: none

Delete codestyle action
  .github/workflows/codestyle.yaml
Owners: none

Disable codeclimate coverage reports
  .github/workflows/tests.yaml
Owners: none

Number of subhalos function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Concatenate list of subhalo mass
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Remove codestyle from tox config
  tox.ini
Owners: none

Update CI details in contributor guidelines
  CONTRIBUTING.md
Owners: none

Configure codeclimate (#259)
  .github/workflows/codestyle.yaml
  .github/workflows/tests.yaml
  CONTRIBUTING.md
  setup.cfg
  tox.ini
Owners: none

recurse references and remove default values
  skypy/pipeline/driver.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

recurse dependencies as well
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

remove leftover print statement
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

fix bad case of pebkac
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

style fixes
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

test nested references
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

simplify config file syntax (#255)
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Fixing subhalo amplitude
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Making number_subhalos public and adding docstring
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Adding number_subhalos to __all__
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Vectorising for loop in number_subhalos
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Using m_cut correctly in number_subhalos
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Comment on m_cut
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changes in doc string and examples in sampler and number_subhalo
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing doc string blank lines
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Looping over number of subhalos, sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Adding test for subhalo sampler
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing docstring
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing example output
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

API in alphabetical order and adding missing functions
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Subhalo abundance matching
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Test abundance matching with subhalos
  skypy/halo/tests/test_abundance_matching.py
Owners: @skypyproject/halo-developers

mirror examples to repository
  .github/workflows/examples.yaml
Owners: none

trigger workflow on push and release
  .github/workflows/examples.yaml
Owners: none

use access token for examples repo
  .github/workflows/examples.yaml
Owners: none

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
