Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Disable Codecov comments in pull requests
  codecov.yml
Owners: none

Disable Codecov comments in pull requests (#206)
  codecov.yml
Owners: none

Alphabetical author list
  .zenodo.json
Owners: none

License is BSD-3-Clause
  .zenodo.json
Owners: none

Fix title and description
  .zenodo.json
Owners: none

Remove version-dependent fields
  .zenodo.json
Owners: none

report codeclimate coverage
  .github/workflows/tests.yaml
Owners: none

report codeclimate coverage (#207)
  .github/workflows/tests.yaml
Owners: none

Adding clarification notes
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

Changes in doc string, avoiding default values for scientific parameters
  skypy/halo/quenching.py
Owners: @skypyproject/halo-developers

fix pipeline example
  examples/herbel_galaxies.yaml
Owners: none

Fixing output example
  skypy/halo/quenching.py
Owners: @skypyproject/halo-developers

fix ryden04 ellipticity with scipy 1.5.x
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

Fixing sigma, sheth_tormen, adding dlns_dlM and changing input parameters
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

fix minor bugs (#209)
  examples/herbel_galaxies.yaml
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

test CAMB with `-all`
  setup.cfg
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

work around gfortran versions
  .github/workflows/tests.yaml
Owners: none

fix pep8 issue
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

changes in sigma squared and sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

test CAMB (#205)
  .github/workflows/tests.yaml
  setup.cfg
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

simplified Smail redshift sampling
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
Owners: @skypyproject/galaxy-developers

absolute magnitude standard band zeropoints
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
  skypy/utils/astronomy.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

zeropoints for normalised bandpasses
  skypy/utils/astronomy.py
Owners: @skypyproject/skypy-infrastructure

always return B-band luminosities
  skypy/galaxy/luminosity.py
  skypy/utils/astronomy.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

fix tests in B-band
  skypy/galaxy/tests/test_luminosity.py
Owners: @skypyproject/galaxy-developers

Addition of unit-test
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing tests
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

Update skypy/galaxy/luminosity.py
  skypy/galaxy/luminosity.py
Owners: @skypyproject/galaxy-developers

Update skypy/halo/quenching.py
  skypy/halo/quenching.py
Owners: @skypyproject/halo-developers

Environment and mass quenching models (#191)
  skypy/halo/quenching.py
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

simplified Smail redshift sampling (#210)
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
Owners: @skypyproject/galaxy-developers

Sampling of the galaxy stellar masses.
  skypy/galaxy/mass.py
  skypy/galaxy/tests/test_mass.py
Owners: @skypyproject/galaxy-developers

Sampling of the redshifts according to the Peng et al(2010) model.
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
Owners: @skypyproject/galaxy-developers

Major change: make m_star array-like and delete redshift as argument. Some smaller changes of names and Docstring.
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_stellar_mass.py
Owners: @skypyproject/galaxy-developers

Structural changes in mass function and sigma and doc-string, and adding press_schechter_mass_function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changing mass sampler structure and adding press_schechter_mass_sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changes in doc-string
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Some smaller cahnges in the docstring and change of module name. Update of the reference.
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_stellar_mass.py
Owners: @skypyproject/galaxy-developers

Changing tests structure
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing example in halo mass sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
