Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

add missing example config
  docs/position/examples/uniform_in_pixel.yml
Owners: none

add healpy dependency to all and docs
  setup.cfg
Owners: none

Add CAMB plot, Halofit and fix config file
  docs/power_spectrum/examples/power_spectrum.yml
  docs/power_spectrum/index.rst
Owners: none

import directly from healpy
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

added P&H2017 neutral hydrogen mass model
  skypy/neutral_hydrogen/__init__.py
  skypy/neutral_hydrogen/mass.py
  skypy/neutral_hydrogen/tests/test_mass.py
Owners: @skypyproject/skypy-infrastructure

Update logos for pypi, conda-forge and read the docs
  README.rst
Owners: none

Remove testing instructions
  README.rst
Owners: none

Remove help instrution
  README.rst
Owners: none

Cleanup badges
  README.rst
Owners: none

Remove astropy badge
  README.rst
Owners: none

Reorder badges
  README.rst
Owners: none

add some tests
  skypy/position/_uniform.py
  skypy/position/tests/test_healpy.py
Owners: @skypyproject/skypy-infrastructure

add docstring
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

use proper docstring formatting
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

added semicolons to supress extra output
  examples/abundance_matching.ipynb
  examples/gravitational_wave_rates.ipynb
  examples/mccl_galaxies.ipynb
Owners: none

fixed name of grav waves example
  examples/gravitational_wave_rates.ipynb
Owners: none

Fix for astropy Table add_columns API change
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Remove imposter syndrome disclaimer
  README.rst
Owners: none

Tidy up bash code blocks
  README.rst
Owners: none

Update Readme badges and instructions (#346)
  README.rst
Owners: none

Apply suggestions from code review
  docs/position/examples/uniform_in_pixel.yml
  skypy/position/_uniform.py
  skypy/position/tests/test_healpy.py
Owners: @skypyproject/skypy-infrastructure

regex from astropy quantities
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

simple construction of quantities in config files (#316)
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/quantities.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Major changes, delete CAMB example, plot EHU and Smith halofit
  docs/power_spectrum/examples/power_spectrum.yml
  docs/power_spectrum/index.rst
Owners: none

Delete typo in text
  docs/power_spectrum/index.rst
Owners: none

Flatten python module index in docs
  .zenodo.json
  docs/conf.py
Owners: none

Flatten python module index in docs (#351)
  .zenodo.json
  docs/conf.py
Owners: none

Change project members to authors
  .zenodo.json
Owners: none

Smaller cahnges
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/tests/test_redshift.py
Owners: @skypyproject/galaxy-developers

Update lightcone.yml
  docs/pipeline/examples/lightcone.yml
Owners: none

Changing fsky to sky_area (#314)
  docs/pipeline/examples/lightcone.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/_schechter.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Owners: @skypyproject/galaxy-developers

Drop support for astropy 3
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
  skypy/pipeline/_pipeline.py
  tox.ini
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Drop support for astropy 3 (#353)
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
  skypy/pipeline/_pipeline.py
  tox.ini
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

more conservative ceil(miss*over)
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

sample positions uniformly over HEALPix pixel (#344)
  docs/position/examples/uniform_in_pixel.yml
  docs/position/index.rst
  setup.cfg
  skypy/position/__init__.py
  skypy/position/_uniform.py
  skypy/position/tests/test_healpy.py
Owners: @skypyproject/skypy-infrastructure

Revert whitespace changes
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

Ipynb examples (#339)
  examples/abundance_matching.ipynb
  examples/gravitational_wave_rates.ipynb
  examples/mccl_galaxies.ipynb
Owners: none

Adding Jonathan D Harris to zenodo
  .zenodo.json
Owners: none

Update .zenodo.json
  .zenodo.json
Owners: none

Tests for example configs (#327)
  .zenodo.json
  skypy/tests/test_examples.py
Owners: @skypyproject/skypy-infrastructure
