Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Fixing tests assertion error
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing output in examples in halo mass sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changes in importing modules, additional test for m_star array and size=None, improvement of docstring.
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_stellar_mass.py
Owners: @skypyproject/galaxy-developers

Module to calculate the flux density as a sum of the kcorrect templates.
  skypy/galaxy/sed.py
  skypy/galaxy/tests/test_sed.py
Owners: @skypyproject/galaxy-developers

Put kcorrect_spectra in spectrum.py. Changed the last test. Coefficients as argument now. Adapted docstring.
  skypy/galaxy/sed.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_sed.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Changed name and docstring
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_stellar_mass.py
Owners: @skypyproject/galaxy-developers

Renaming collapse function and adding sheth_tormen_collapse function
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Changes in sigma and removing old press_schechter function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changes in mass function and tests
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Changes in halo mass sampler and adding sheth_tormen and press_schechter, and changes in tests
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing sheth-tormen expected value in examples
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing press_schechter expected value in examples
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing halo_sampler expected value in examples
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Create variables from functions in pipeline
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Fixing examples in sheth and tormen sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing examples
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Add nodes to DAG indicating when each table is complete
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Add dependencies for each job
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Initialise tables from functions; default is an empty Astropy Table
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Refactor pipeline code
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Update SkyPyDriver docstrings
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Initilise variables by value
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Fix pipeline tests
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

Add tests for pipeline variables and refactor existing tests
  skypy/pipeline/tests/data/cosmology_config.yaml
  skypy/pipeline/tests/data/empty_config.yaml
  skypy/pipeline/tests/data/empty_config.yml
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

The SkyPy Project is the copyright holder
  LICENSE.rst
Owners: none

Review comments
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Fixes to BSD-3-Clause license (#187)
  LICENSE.rst
Owners: none

Pipeline variables, table initialisation and dependencies (#214)
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/cosmology_config.yaml
  skypy/pipeline/tests/data/empty_config.yaml
  skypy/pipeline/tests/data/empty_config.yml
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

absolute magnitude standard band zeropoints (#208)
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/utils/astronomy.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Fixing test
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

Fixing doc-string
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

Sersic indices for red and blue galaxies
  examples/herbel_galaxies.yaml
Owners: none

Fixing doc-string for the Einsentein and Hu function
  skypy/power_spectrum/_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Update skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Update skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Update skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Update skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Sersic indices for red and blue galaxies (#215)
  examples/herbel_galaxies.yaml
Owners: none

Solving problems with doc rendering
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
