Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Use default cosmology context in pipeline (#301)
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

load functions from string on construction
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Separate config parser from Pipeline class
  skypy/pipeline/__init__.py
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Test that parsed config entries have the correct types
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Delete m_star in number subhalos
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fix handling of config, parameters, tables and cosmology
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Delete gama_M as parameter, add default resolution and changes in docstring
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Delete unnecessary variables in number subhalos test
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Use number for number_subhalos and delete resampling in subhalo mass sampler test
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fix docstring example
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Change parameter values to more general
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Add test for array of subhalos
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Subhalo mass function given parent halo (#219)
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Set up config file for examples and plots'
  docs/halo/examples/halo.yml
Owners: none

Vale & Ostriker 2004 halo and galaxy model as a single function
  examples/abundance_matching.yml
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

New docstring
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Update abundance_matching example
  examples/abundance_matching.yml
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Update abundance_matching example
  examples/abundance_matching.yml
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

mark quenching tests as flaky
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

mark quenching tests as flaky (#307)
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

use skypy-data package
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

do not use ambiguous download error message
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

rename repository to "skypy-data"
  setup.cfg
Owners: none

use skypy-data package for spectral data (#308)
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

galaxy angular size uses default cosmology
  examples/mccl_galaxies.yml
  skypy/galaxy/size.py
Owners: @skypyproject/galaxy-developers

Unit tests and code style
  skypy/halo/abundance_matching.py
  skypy/halo/tests/test_abundance_matching.py
Owners: @skypyproject/halo-developers

fix example
  skypy/galaxy/size.py
Owners: @skypyproject/galaxy-developers

Fix ordering of returned arrays in docstring
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Update skypy/halo/abundance_matching.py
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Update skypy/halo/abundance_matching.py
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Update skypy/halo/abundance_matching.py
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Address review comments
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

subhalo_group is an array of integers
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Vale & Ostriker 2004 halo-galaxy model (#261)
  examples/abundance_matching.yml
  skypy/halo/abundance_matching.py
  skypy/halo/tests/test_abundance_matching.py
Owners: @skypyproject/halo-developers

Lightcone simulation class
  skypy/pipeline/__init__.py
  skypy/pipeline/_lightcone.py
Owners: @skypyproject/skypy-infrastructure

Command line script using Lightcone class
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Adding config file
  docs/halo/examples/halo.yml
Owners: none

Delete commented block
  docs/halo/examples/halo.yml
Owners: none

Add pipeline in rst file
  docs/halo/index.rst
Owners: none

Add plot
  docs/halo/index.rst
Owners: none

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
