Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

sample positions uniformly around centre (#285)
  docs/index.rst
  docs/position/examples/uniform_around.yml
  docs/position/index.rst
  skypy/position/__init__.py
  skypy/position/_uniform.py
  skypy/position/tests/__init__.py
  skypy/position/tests/test_uniform.py
Owners: @skypyproject/skypy-infrastructure

Class (#249)
  setup.cfg
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

argsort on wavenumner, units not abbreviated
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

small change to docstring
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Add classy to linear power spectrum documentation
  skypy/power_spectrum/__init__.py
Owners: @skypyproject/power-spectrum-developers

Units in classy docstring
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Add classy to linear power spectrum documentation (#286)
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Support stellar mass and distance modulus
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

changed to massive neutrino cosmology for test
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

mark kstests as flaky with 3 reruns
  setup.cfg
  skypy/galaxy/tests/test_ellipticity.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
  skypy/galaxy/tests/test_size.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/galaxy/tests/test_stellar_mass.py
  skypy/position/tests/test_uniform.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Fix array shapes and summation over templates
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

add note to contributor guidelines
  CONTRIBUTING.md
Owners: none

rerun with standard arguments (single retry)
  CONTRIBUTING.md
  skypy/galaxy/tests/test_ellipticity.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_size.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/galaxy/tests/test_stellar_mass.py
  skypy/position/tests/test_uniform.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

mark kstests as flaky with 3 reruns (#287)
  CONTRIBUTING.md
  setup.cfg
  skypy/galaxy/tests/test_ellipticity.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
  skypy/galaxy/tests/test_size.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/galaxy/tests/test_stellar_mass.py
  skypy/position/tests/test_uniform.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

correct test variable names
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

loaders for bandpasses and spectrum templates
  .github/workflows/tests.yaml
  docs/conf.py
  docs/galaxy.rst
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/data/spectrum.ecsv
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

loaders for bandpasses and spectrum templates (#279)
  .github/workflows/tests.yaml
  docs/conf.py
  docs/galaxy.rst
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/data/spectrum.ecsv
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Test when coefficients are the identity matrix
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

suggestions from review
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  skypy/galaxy/luminosity.py
Owners: @skypyproject/galaxy-developers

Fix handling of stellar mass and distance modulus arguments
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Distance modulus test
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Stellar mass test
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Fix loop variables for interpolation
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Interpolation test
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Galaxy stellar masses for composite template SEDs in a reference band
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Unit tests
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

use correct magnitude zeropoint for luminosity
  examples/gravitational_wave_rates.yml
Owners: none

Update examples/abundance_matching.yml
  examples/abundance_matching.yml
Owners: none

functions for working with magnitudes (#274)
  docs/galaxy.rst
  docs/utils/index.rst
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  skypy/galaxy/luminosity.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/utils/astronomy.py
  skypy/utils/tests/test_astronomy.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Code review
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Remove unused deepcopy function
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

AB magnitudes from composites of template sepctra (#276)
  docs/galaxy.rst
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Fix blank line containinig whitespace
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Stellar masses from magnitudes of composite spectra in a reference band (#290)
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

improved loading of multiple spectral data
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

pin pytest<6.1
  setup.cfg
Owners: none

pin pytest<6.1 (#295)
  setup.cfg
Owners: none

removed z_reio feature
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

stack spectra if possible
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Unit tests
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure
