Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/linear-developers, @skypyproject/nonlinear-developers, @skypyproject/galaxy-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/linear @skypyproject/linear-developers
skypy/nonlinear @skypyproject/nonlinear-developers
skypy/galaxy @skypyproject/galaxy-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Setup GitHub apps (#80)
  .circleci/config.yml
  README.rst
Owners: none

Rename morphology module to ellipticity
  docs/galaxy/index.rst
  skypy/galaxy/ellipticity.py
  skypy/galaxy/tests/test_ellipticity.py
Owners: @skypyproject/galaxy-developers

Rename distribution to beta_ellipticity
  skypy/galaxy/ellipticity.py
  skypy/galaxy/tests/test_ellipticity.py
Owners: @skypyproject/galaxy-developers

Add models section to ellipticity module documentation
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

Fix ellipticity documentation title warning
  docs/galaxy/index.rst
Owners: none

Switch automodapi to automodule to fix stub file warning
  docs/galaxy/index.rst
Owners: none

Hyperlink reference in docstring
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

examples decorator
  skypy/galaxy/redshift.py
  skypy/stats/rv.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

skip doctest on matplotlib
  skypy/stats/rv.py
Owners: @skypyproject/skypy-infrastructure

Review comments; reference paper section, kwargs and comments describing tests
  skypy/galaxy/ellipticity.py
  skypy/galaxy/tests/test_ellipticity.py
Owners: @skypyproject/galaxy-developers

Reparameterized beta distribution for galaxy ellipticities (#86)
  docs/galaxy/index.rst
  skypy/galaxy/ellipticity.py
  skypy/galaxy/tests/test_ellipticity.py
Owners: @skypyproject/galaxy-developers

Add physical size model to Herbel galaxies example
  examples/herbel_galaxies.yaml
Owners: none

Preserve units when accessing data in a table column
  skypy/core.py
Owners: @skypyproject/skypy-infrastructure

Add angular size model to Herbel galaxies example
  examples/herbel_galaxies.yaml
Owners: none

organise GitHub actions
  .github/workflows/docs.yaml
  .github/workflows/flake8.yaml
  .github/workflows/pr.yaml
  .github/workflows/tests.yaml
Owners: none

Parse and import object member functions
  skypy/core.py
Owners: @skypyproject/skypy-infrastructure

Add ellipticity model to Herbel galaxies example
  examples/herbel_galaxies.yaml
Owners: none

run tests and flake8 on pushes to master
  .github/workflows/docs.yaml
  .github/workflows/flake8.yaml
  .github/workflows/tests.yaml
Owners: none

Move all files from old linear and nonlinear modules into new power_spectrum and halo modules
  skypy/halo/__init__.py
  skypy/halo/abundance_matching.py
  skypy/halo/tests/__init__.py
  skypy/halo/tests/test_abundance_matching.py
  skypy/linear/__init__.py
  skypy/nonlinear/__init__.py
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/camb.py
  skypy/power_spectrum/eisenstein_hu.py
  skypy/power_spectrum/growth.py
  skypy/power_spectrum/halofit.py
  skypy/power_spectrum/tests/__init__.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
  skypy/power_spectrum/tests/test_growth.py
  skypy/power_spectrum/tests/test_halofit.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/linear-developers, @skypyproject/nonlinear-developers

Delete documentation for old linear and nonlinear modules and create documentation for new power_spectrum and halo modules
  docs/halo/index.rst
  docs/index.rst
  docs/linear/index.rst
  docs/nonlinear/index.rst
  docs/power_spectrum/index.rst
Owners: none

coverage report from unit tests
  .github/workflows/tests.yaml
Owners: none

Add docstrings for the new halo and power_spectrum modules
  skypy/halo/__init__.py
  skypy/power_spectrum/__init__.py
Owners: @skypyproject/skypy-infrastructure

use correct coverage packages
  .github/workflows/tests.yaml
Owners: none

don't run codecov on CircleCI
  .circleci/config.yml
Owners: none

generate coverage report in xml format
  .github/workflows/tests.yaml
Owners: none

Fix tests for new halo and power_spectrum modules
  setup.cfg
  skypy/halo/tests/test_abundance_matching.py
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
  skypy/power_spectrum/tests/test_growth.py
  skypy/power_spectrum/tests/test_halofit.py
Owners: @skypyproject/skypy-infrastructure

Fix documentation warnings for new halo and power_spectrum modules
  docs/halo/index.rst
  docs/power_spectrum/index.rst
  skypy/halo/abundance_matching.py
  skypy/power_spectrum/camb.py
  skypy/power_spectrum/eisenstein_hu.py
  skypy/power_spectrum/growth.py
  skypy/power_spectrum/halofit.py
Owners: @skypyproject/skypy-infrastructure

generate xml coverage report
  .github/workflows/tests.yaml
Owners: none

do not require codecov package with action
  .github/workflows/tests.yaml
Owners: none

Add whitespace before reference hyperlink
  skypy/power_spectrum/halofit.py
Owners: @skypyproject/skypy-infrastructure
