Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Solving empty lines growth
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

added test, changed name, units convention
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

style, docs bug fixes
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

blank space at end of file
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Simple abundance matching example
  examples/abundance_matching.yml
Owners: none

Halo sampler based on Sheth & Tormen 1999 formalism (#186)
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

changes to test for older version
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Hide random outputs in halo_mass_sampler doctest
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Hide random outputs in halo_mass_sampler doctest (#217)
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changing the shape output
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Simple abundance matching example (#216)
  examples/abundance_matching.yml
Owners: none

Sampling of the galaxy stellar masses (#211)
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_stellar_mass.py
Owners: @skypyproject/galaxy-developers

Power Spectrum Documentation (#201)
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

Fix alphabetical ordering
  .zenodo.json
Owners: none

SkyPy Collaboration is the first creator
  .zenodo.json
Owners: none

Guidelines to cite the concept DOI
  CITATION
Owners: none

BibTeX entry for concept DOI
  CITATION
Owners: none

Improved test, flake8 issues solved
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Flux density according to kcorrect (#213)
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Zenodo config file (#192)
  .zenodo.json
Owners: none

Refactor merger rate function and tests
  skypy/gravitational_wave/__init__.py
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Fix imports in doctest
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Add b_band_merger_rate to module documentation
  skypy/gravitational_wave/__init__.py
Owners: @skypyproject/gravitational-wave-developers

Fix whitespace
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

added concept doi to citation (#193)
  CITATION
Owners: none

added abadie table iii model (#204)
  skypy/gravitational_wave/__init__.py
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Simple gravitational wave event rate example
  examples/gravitational_wave_rates.yml
Owners: none

Subhalo mass function given parent halo
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Subhalo mass sampler
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing test halo sampler
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Adding subhalo functions to the documentation
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Adding models api for subhalo functions
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Rename table and add ns-bh and bh-bh rates
  examples/gravitational_wave_rates.yml
Owners: none

Simple gravitational wave event rate example (#218)
  examples/gravitational_wave_rates.yml
Owners: none

Adding amplitude given by equation 4 in Vale&Ostriker
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Minor changes in doc string and subhalo sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing docs
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing examples output
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing examples output minor
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Release v0.2rc1
  setup.cfg
Owners: none
