Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

galaxy angular size uses default cosmology (#310)
  examples/mccl_galaxies.yml
  skypy/galaxy/size.py
Owners: @skypyproject/galaxy-developers

Solving requested changes regarding units, sky_area and decorator.
  skypy/galaxy/_schechter.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Owners: @skypyproject/galaxy-developers

Vertical layout
  docs/halo/index.rst
Owners: none

Fix size
  docs/halo/index.rst
Owners: none

Initialise pipeline state at construction with parameters
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Test non-default cosmology and file I/O
  skypy/pipeline/tests/test_lightcone.py
Owners: @skypyproject/skypy-infrastructure

Test for Pipeline.read to maintain coverage
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Test lightcone config file using command line script
  skypy/pipeline/tests/data/lightcone_config.yml
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

Lightcone class (#254)
  examples/abundance_matching.yml
  skypy/pipeline/__init__.py
  skypy/pipeline/_lightcone.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/lightcone_config.yml
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

Fix bug in examples section (#312)
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Hide code for plots
  docs/halo/index.rst
Owners: none

Separate the two examples
  docs/halo/index.rst
Owners: none

Script for collapse functions
  docs/halo/index.rst
Owners: none

fix skypy script documentation
  docs/pipeline/index.rst
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Make skypy-data an optional dependency
  setup.cfg
Owners: none

Installation instructions if skypy-data not found
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Skip except ModuleNotFoundError in coverage reports
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Whitespace
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Raise from previous exception
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Make skypy-data an optional dependency (#322)
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

fix skypy script documentation (#319)
  docs/pipeline/index.rst
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Move examples directory into the skypy directory
  skypy/examples/abundance_matching.yml
  skypy/examples/gravitational_wave_rates.yml
  skypy/examples/mccl_galaxies.yml
Owners: @skypyproject/skypy-infrastructure

Tests for the example configs
  skypy/examples/tests/__init__.py
  skypy/examples/tests/test_abundance_matching.py
  skypy/examples/tests/test_gravitational_wave_rates.py
  skypy/examples/tests/test_mccl_galaxies.py
Owners: @skypyproject/skypy-infrastructure

fixed pycodestlye errors
  setup.cfg
  skypy/__init__.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/pipeline/tests/test_pipeline.py
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers, @skypyproject/power-spectrum-developers

Implement ntessore suggestions, nofigs and context
  docs/halo/index.rst
Owners: none

Move examples back to top level
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  examples/tests/__init__.py
  examples/tests/test_abundance_matching.py
  examples/tests/test_gravitational_wave_rates.py
  examples/tests/test_mccl_galaxies.py
Owners: none

Move example config tests into skypy directory
  examples/tests/__init__.py
  examples/tests/test_abundance_matching.py
  examples/tests/test_gravitational_wave_rates.py
  examples/tests/test_mccl_galaxies.py
  skypy/tests/test_examples.py
Owners: @skypyproject/skypy-infrastructure

added dependencies text to readme
  README.rst
Owners: none

Add true to nofigs
  docs/halo/index.rst
Owners: none

skip tests if skypy-data is not installed
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

typo fix
  README.rst
Owners: none

Add false to nofigs
  docs/halo/index.rst
Owners: none

Try delete context
  docs/halo/index.rst
Owners: none

Fix indentation
  docs/halo/index.rst
Owners: none

Fix indentation for second example
  docs/halo/index.rst
Owners: none

Redshift values in calculating distance modulus not zero. Additional test for raising warning if redshift is 0
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Read pipeline
  docs/halo/index.rst
Owners: none

Add clarification
  docs/halo/index.rst
Owners: none

also skip specutils tests if not installed
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Delete import pipeline, increase mass range and number of samples
  docs/halo/examples/halo.yml
  docs/halo/index.rst
Owners: none

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
