Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Clarify comments, show pipeline and hide source for code fo 2nd example
  docs/halo/examples/halo.yml
  docs/halo/index.rst
Owners: none

Add blank line
  docs/halo/index.rst
Owners: none

Changing redshift values. Deleting test for redshift 0.
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Update skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Warning test_template_spectra calculating distance modulus (#332)
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Update setup.cfg
  setup.cfg
Owners: none

fixed pycodestlye errors (#329)
  skypy/__init__.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/pipeline/tests/test_pipeline.py
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers, @skypyproject/power-spectrum-developers

Hide delta_c and nu, import mass and params name
  docs/halo/index.rst
Owners: none

skip tests if requirements for spectrum functions are not met (#331)
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Check if Ob0 and Tcmb0 are positive for wiggle=T
  skypy/power_spectrum/_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

Increase mass and numbers of samples, and plot log mass
  docs/halo/examples/halo.yml
  docs/halo/index.rst
Owners: none

Fixed indentation
  skypy/power_spectrum/_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

Clean and show config file
  docs/halo/examples/halo.yml
  docs/halo/index.rst
Owners: none

More fixes for indentation
  skypy/power_spectrum/_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

Clean config file and add cosmology
  docs/halo/examples/halo.yml
Owners: none

Hide pipeline line and use log10
  docs/halo/index.rst
Owners: none

Fix indentation
  docs/halo/index.rst
Owners: none

fix and test package imports
  skypy/__init__.py
  skypy/cluster/tests/test_import.py
  skypy/galaxy/tests/test_import.py
  skypy/gravitational_wave/tests/test_import.py
  skypy/halo/tests/test_import.py
  skypy/pipeline/tests/test_import.py
  skypy/position/tests/test_import.py
  skypy/power_spectrum/tests/test_import.py
  skypy/supernova/tests/test_import.py
  skypy/tests/test_import.py
  skypy/utils/__init__.py
  skypy/utils/tests/test_import.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers

Setup config file
  docs/power_spectrum/examples/power_spectrum.yml
Owners: none

ValueError message, tests for zero Ob0 and Tcmb0
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

Update Pipeline documentation for v0.3
  docs/pipeline/examples/config.yml
  docs/pipeline/examples/lightcone.yml
  docs/pipeline/index.rst
Owners: none

Fixed tests
  skypy/power_spectrum/tests/test_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

Plot eisenstein and hu power spectrum
  docs/power_spectrum/examples/power_spectrum.yml
  docs/power_spectrum/index.rst
Owners: none

Suggested changes
  docs/pipeline/index.rst
Owners: none

Fix broken plot
  docs/pipeline/index.rst
Owners: none

Update Pipeline documentation for v0.3 (#338)
  docs/pipeline/examples/config.yml
  docs/pipeline/examples/lightcone.yml
  docs/pipeline/index.rst
Owners: none

added ipython notebooks for examples
  examples/abundance_matching.ipynb
  examples/gravitational_wave_rates.ipynb
  examples/mccl_galaxies.ipynb
Owners: none

Update Halo documentation for v0.3 (#306)
  docs/halo/examples/halo.yml
  docs/halo/index.rst
Owners: none

Add E and Hu with no wiggles
  docs/power_spectrum/index.rst
Owners: none

Update setup.cfg
  setup.cfg
Owners: none

Update README.rst
  README.rst
Owners: none

Update README.rst
  README.rst
Owners: none

Check if Ob0 and Tcmb0 are non-zero for wiggle=T (#333)
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
Owners: @skypyproject/power-spectrum-developers

fix and test package imports (#334)
  skypy/__init__.py
  skypy/cluster/tests/test_import.py
  skypy/galaxy/tests/test_import.py
  skypy/gravitational_wave/tests/test_import.py
  skypy/halo/tests/test_import.py
  skypy/pipeline/tests/test_import.py
  skypy/position/tests/test_import.py
  skypy/power_spectrum/tests/test_import.py
  skypy/supernova/tests/test_import.py
  skypy/tests/test_import.py
  skypy/utils/__init__.py
  skypy/utils/tests/test_import.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers

Optional dependencies in README (#330)
  README.rst
Owners: none

fixed state, Vale & Ostriker reference
  examples/abundance_matching.ipynb
  examples/mccl_galaxies.ipynb
Owners: none

fix vale_ostriker documentation warnings
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

Adding white space
  docs/power_spectrum/examples/power_spectrum.yml
  docs/power_spectrum/index.rst
Owners: none

fix vale_ostriker documentation warnings (#340)
  skypy/halo/abundance_matching.py
Owners: @skypyproject/halo-developers

add uniform_in_pixel function
  docs/position/index.rst
  skypy/position/__init__.py
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
