Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Apply suggestions from code review
  skypy/utils/random.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

fix tests
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

improved Schechter random sampling (#246)
  skypy/utils/random.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

reference added
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Pushing unstaged changes from july
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Skeleton for missing information in readme
  README.rst
Owners: none

Important links
  README.rst
Owners: none

Update halofit test data for new algorithm
  skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/tests/data/linear_power.txt
  skypy/power_spectrum/tests/data/truth_bird.txt
  skypy/power_spectrum/tests/data/truth_smith.txt
  skypy/power_spectrum/tests/data/truth_takahashi.txt
  skypy/power_spectrum/tests/test_halofit.py
Owners: @skypyproject/power-spectrum-developers

Install and run guidelines
  README.rst
Owners: none

List of key features
  README.rst
Owners: none

Adding blank line in features
  README.rst
Owners: none

Fixing hyperlinks
  README.rst
Owners: none

Second fix to hyperlinks
  README.rst
Owners: none

tests for mag_ab
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Second fix to hyperlinks
  README.rst
Owners: none

Fixing how-to-install section
  README.rst
Owners: none

Running example section
  README.rst
Owners: none

Editing requirements
  README.rst
Owners: none

Apply suggestions from code review
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Extra edits to how-to section
  README.rst
Owners: none

Evaluate halofit integrals using trapezoidal rule (#241)
  skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/tests/data/linear_power.txt
  skypy/power_spectrum/tests/data/truth_bird.txt
  skypy/power_spectrum/tests/data/truth_smith.txt
  skypy/power_spectrum/tests/data/truth_takahashi.txt
  skypy/power_spectrum/tests/test_halofit.py
Owners: @skypyproject/power-spectrum-developers

Adding blank lines
  README.rst
Owners: none

Adding more blank lines
  README.rst
Owners: none

compute AB magnitude from spectrum and bandpass (#242)
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

use nested quotes for literal strings
  examples/gravitational_wave_rates.yml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Changes in subhalo sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

handle string arguments better
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Fixing n_subhalos
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Adding for loop over parent halos
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixed parentheses in links
  README.rst
Owners: none

removed bad line from doctest
  docs/importing_skypy.rst
Owners: none

added class module
  skypy/power_spectrum/__init__.py
Owners: @skypyproject/power-spectrum-developers

added class module
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

added newline
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/pipeline/driver.py
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

simplify config file syntax (#245)
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Transpose camb and halofit test data
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/data/linear_power.txt
  skypy/power_spectrum/tests/data/truth_bird.txt
  skypy/power_spectrum/tests/data/truth_smith.txt
  skypy/power_spectrum/tests/data/truth_takahashi.txt
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
