Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Require speclite version 0.11 or later
  setup.cfg
Owners: none

Update skypy/pipeline/_config.py
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

Update skypy/pipeline/_config.py
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

Update skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

pipeline: check YAML mapping keys on creation (#377)
  skypy/pipeline/_config.py
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Require speclite version 0.11 or later (#381)
  setup.cfg
Owners: none

kcorrect star formation rate data
  skypy/data/spectrum_templates/kcorrect_sfr.ecsv.gz
Owners: @skypyproject/skypy-infrastructure

star_formation_rate_from_templates
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Unit test
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Bugfix
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

kcorrect metallicity data
  skypy/data/spectrum_templates/kcorrect_mets.ecsv.gz
Owners: @skypyproject/skypy-infrastructure

metallicity_from_templates
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Add star_formation_rate_from_templates to __all__
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Unit test
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Refactor
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Setup sphinx-gallery
  .gitignore
  docs/conf.py
  docs/index.rst
  examples/README.rst
  setup.cfg
Owners: none

Galaxy examples
  examples/galaxies/README.rst
Owners: none

refactor magnitude computation using speclite
  docs/conf.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

backward compatibility
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

improve mag_ab docstring
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

optional apparent magnitude computation
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

make tests actually test something
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

load filters by name
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

mag_ab takes wavelength and spectrum
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

improve tests
  skypy/pipeline/tests/test_items.py
Owners: @skypyproject/skypy-infrastructure

test references in call
  skypy/pipeline/tests/test_items.py
Owners: @skypyproject/skypy-infrastructure

pipeline: generic interface for pipeline items (#378)
  skypy/pipeline/_config.py
  skypy/pipeline/_items.py
  skypy/pipeline/_lightcone.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/data/test_empty_ref.yml
  skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_items.py
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Apply suggestions from code review
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

fix docstring inaccuracies
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

refactor magnitude computation using speclite (#292)
  docs/conf.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Galaxy photometry using kcorrect spectrum templates
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

kcorrect template data
  skypy/data/kcorrect/k_nmf_derived.default.fits
Owners: @skypyproject/skypy-infrastructure

kcorrect license
  licenses/kcorrect.rst
Owners: none

Fix typos
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Example: Schechter luminosity function
  examples/galaxies/lopez_sanjuan+17_B1.ecsv
  examples/galaxies/plot_schechter.py
Owners: none

Delete sphinx gallery directory with make clean
  docs/Makefile
Owners: none

Review comments
  docs/conf.py
  setup.cfg
Owners: none

Set up example for size function
  examples/galaxies/plot_size.py
Owners: none

Refactor kcorrect absolute and apparent magnitude calculations
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Refactor stellar mass calculation for kcorrect templates
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers
