Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

flag to show skypy version
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

always recreate mirror from scratch
  .github/workflows/examples.yaml
Owners: none

use skypybot for action
  .github/workflows/examples.yaml
Owners: none

do not trigger on push
  .github/workflows/examples.yaml
Owners: none

handle branches and tags together
  .github/workflows/examples.yaml
Owners: none

Test skypy --version
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

flag to show skypy version (#263)
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

trigger on file changes on master or version
  .github/workflows/examples.yaml
Owners: none

mirror examples to repository (#262)
  .github/workflows/examples.yaml
Owners: none

update contributor guidelines
  CONTRIBUTING.md
Owners: none

update contributor guidelines (#264)
  CONTRIBUTING.md
Owners: none

Instructions to clone examples repository
  README.rst
Owners: none

Rename mccl_galaxies example
  README.rst
  examples/mccl_galaxies.yml
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Size models and parameters from Shen et al. 2003
  examples/mccl_galaxies.yml
Owners: none

Magnitude zeropoint
  examples/mccl_galaxies.yml
Owners: none

MCCL galaxies example (#266)
  README.rst
  examples/mccl_galaxies.yml
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Instructions to clone examples repository (#265)
  README.rst
Owners: none

config files can have nested function calls
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Import packages and modules
  skypy/__init__.py
  skypy/galaxy/__init__.py
  skypy/halo/__init__.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers, @skypyproject/halo-developers

Fix galaxy and halo package imports
  skypy/galaxy/__init__.py
  skypy/halo/__init__.py
Owners: @skypyproject/galaxy-developers, @skypyproject/halo-developers

Import packages and modules (#268)
  skypy/__init__.py
  skypy/galaxy/__init__.py
  skypy/halo/__init__.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers, @skypyproject/halo-developers

Amplitude from Vale 2004 model
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

N subhalos using 2004 model
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Sampler using Vale 2004 model, adding x parameter' git add skypy/halo/tests/test_mass.py q
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing doc-string
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

config and overwrite command line arguments for driver script (#239)
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

simplify config file syntax (#245)
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Update README: feature list, document hyperlinks and getting started guide (#247)
  README.rst
Owners: none

Fixing typo in README example (#257)
  README.rst
Owners: none

simplify config file syntax (#255)
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

flag to show skypy version (#263)
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

MCCL galaxies example (#266)
  README.rst
  examples/mccl_galaxies.yml
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Instructions to clone examples repository (#265)
  README.rst
Owners: none

Import packages and modules (#268)
  skypy/__init__.py
  skypy/galaxy/__init__.py
  skypy/halo/__init__.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers, @skypyproject/halo-developers

Release v0.2.1
  setup.cfg
Owners: none

Update README.rst
  README.rst
Owners: none

Typo: –- -> -- #269
  README.rst
Owners: none

decouple merger_rate from herbel_luminosities
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

decouple merger_rate from herbel_luminosities (#270)
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

config files can have nested function calls (#267)
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure
