Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Move Sheth-Tormen code to mass.py
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Remove halo_sampler.py
  skypy/halo/halo_sampler.py
Owners: @skypyproject/halo-developers

Adding test for the halo mass function and fixing doc
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing indentation error
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

fix random sampling size for scipy 1.5
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

fix bug in specific scipy version
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

Major structural changes
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changes in Sheth-Tormen function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing doc string
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing indentation error in Press-Schechter
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

fix random sampling size for scipy 1.5 (#202)
  skypy/galaxy/ellipticity.py
Owners: @skypyproject/galaxy-developers

test min and max supported version
  .github/workflows/tests.yaml
Owners: none

specify latest supported versions via tox
  .github/workflows/tests.yaml
  tox.ini
Owners: none

manually specify interesting configs
  .github/workflows/tests.yaml
  tox.ini
Owners: none

run other tests if one fails
  .github/workflows/tests.yaml
Owners: none

build matrix
  .github/workflows/tests.yaml
Owners: none

do not require oldest versions to pass
  .github/workflows/tests.yaml
Owners: none

add scipy development version
  tox.ini
Owners: none

astropy 3.2 is oldest supported version
  tox.ini
Owners: none

self-explaining configuration option names
  .github/workflows/tests.yaml
Owners: none

Adding dlognu_dlogm factor and examples
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

do not handle required tests through workflow
  .github/workflows/tests.yaml
Owners: none

simple job names
  .github/workflows/tests.yaml
Owners: none

tune versions for various tests
  .github/workflows/tests.yaml
  tox.ini
Owners: none

Replacing the function derivative by the scipy function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Splitting the halo mass function into two:halo_mass_function and halo_mass_sampler
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing examples output
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Eliminating m_star and adding delta critical
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

tune versions and test experimental nightlies
  .github/workflows/tests.yaml
  tox.ini
Owners: none

Changing order of sigma function parameters
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

test version compatibility with cron job
  .github/workflows/compatibility.yaml
  .github/workflows/tests.yaml
Owners: none

check latest release
  .github/workflows/compatibility.yaml
Owners: none

test matrix (#203)
  .github/workflows/compatibility.yaml
  .github/workflows/tests.yaml
  tox.ini
Owners: none

added abadie table iii model
  skypy/gravitational_wave/binary_merger_rate.py
  skypy/gravitational_wave/tests/test_binary_merger_rates.py
Owners: @skypyproject/gravitational-wave-developers

changed file names
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

fixed dict
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

PEP8 fixes
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

PEP8 fixes again
  skypy/gravitational_wave/merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

fixed indexing, test passes
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Owners: @skypyproject/gravitational-wave-developers

Defining rho in sigma_squared
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
