Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Cosmology argument for vale_ostriker
  examples/abundance_matching.yml
  skypy/halo/abundance_matching.py
  skypy/halo/tests/test_abundance_matching.py
Owners: @skypyproject/halo-developers

Update docstrings; cosmology is not optional
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
Owners: @skypyproject/galaxy-developers

Remove uses_default_cosmology decorator (#372)
  docs/pipeline/examples/lightcone.yml
  docs/utils/index.rst
  examples/abundance_matching.yml
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/size.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_schechter.py
  skypy/halo/abundance_matching.py
  skypy/halo/tests/test_abundance_matching.py
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/halo-developers, @skypyproject/skypy-infrastructure

use classy from pip for testing
  setup.cfg
Owners: none

use classy from pip for testing (#373)
  setup.cfg
Owners: none

Lambda functions can be defined in config
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/lambda_function.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Installation instructions in docs
  docs/index.rst
  docs/install.rst
Owners: none

Link to installation instructions in README
  README.rst
Owners: none

Anonymous reference
  docs/install.rst
Owners: none

Simpler construction for lambda
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

pipeline: check YAML mapping keys on creation
  skypy/pipeline/_config.py
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

pipeline: generic interface for pipeline items
  skypy/pipeline/_config.py
  skypy/pipeline/_items.py
  skypy/pipeline/_lightcone.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

added tests
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/test_empty_ref.yml
  skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_items.py
Owners: @skypyproject/skypy-infrastructure

Add kcorrect template data to SkyPy
  skypy/data/spectrum_templates/__init__.py
  skypy/data/spectrum_templates/kcorrect_rawspec.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec_nl.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec_nl_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_spec.ecsv
  skypy/data/spectrum_templates/kcorrect_spec_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_spec_nl.ecsv
  skypy/data/spectrum_templates/kcorrect_spec_nl_nd.ecsv
Owners: @skypyproject/skypy-infrastructure

spectrum_template_loader
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Docstring and whitespace
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Remove skypy/data/spectrum_templates/__init__.py
  skypy/data/spectrum_templates/__init__.py
Owners: @skypyproject/skypy-infrastructure

Fix data path
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Add spectrum_templates to package_data
  setup.cfg
Owners: none

Apply suggestions from code review
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

gzip data files
  skypy/data/spectrum_templates/kcorrect_rawspec.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nl.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec_nl.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nl_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_rawspec_nl_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec.ecsv
  skypy/data/spectrum_templates/kcorrect_spec.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_spec_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nl.ecsv
  skypy/data/spectrum_templates/kcorrect_spec_nl.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nl_nd.ecsv
  skypy/data/spectrum_templates/kcorrect_spec_nl_nd.ecsv.gz
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers

minor tweaks
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Using speclite defaults, including speclite in config file and optimise tests
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Change of speclite in config file, remove unnecessary comment
  setup.cfg
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/skypy-infrastructure

Apply suggestions from code review
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Access filter responses with speclite package (#368)
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Re-implement skypy_data_loader after merge
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

New dependency speclite
  docs/install.rst
Owners: none

Alphabetise core dependencies
  docs/install.rst
Owners: none

Add kcorrect template data to SkyPy package (#379)
  setup.cfg
  skypy/data/spectrum_templates/kcorrect_rawspec.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nl.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nl_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nl.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nl_nd.ecsv.gz
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers

Drop skypy-data dependency
  README.rst
  setup.cfg
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Drop skypy-data dependency (#380)
  README.rst
  setup.cfg
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

Examples heading
  README.rst
Owners: none

Apply suggestions from code review
  docs/install.rst
Owners: none

Typo
  README.rst
Owners: none

Installation instructions for optional and test dependencies
  docs/install.rst
Owners: none

Wording for intstalling test dependencies and running pytest
  docs/install.rst
Owners: none

Link to installation instructions in README
  README.rst
Owners: none

Remove unused hyperlink addresses
  README.rst
Owners: none

Installation instructions in documentation (#376)
  README.rst
  docs/index.rst
  docs/install.rst
Owners: none
