Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

added Zenodo badge with DOI (#133)
  README.rst
Owners: none

fix press_schechter documentation warning (#165)
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

fix driver documentation (#166)
  .circleci/config.yml
  .github/workflows/docs.yaml
  docs/pipeline/index.rst
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Fixes to BSD-3-Clause license (#187)
  LICENSE.rst
Owners: none

Zenodo config file (#192)
  .zenodo.json
Owners: none

added concept doi to citation (#193)
  CITATION
Owners: none

Release v0.1.1rc1
  setup.cfg
Owners: none

Do not build camb on readthedocs
  .readthedocs.yml
Owners: none

Mock camb if it is unavalable when building docs
  docs/conf.py
Owners: none

Mock camb on readthedocs (#221)
  .readthedocs.yml
  docs/conf.py
Owners: none

Make SkyPy members contributors with type ProjectMember in zenodo config
  .zenodo.json
Owners: none

Fixing bugs and typos
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

initial commit, using astropy as an example
  docs/index.rst
  importing_skypy.rst
  install.rst
Owners: none

Adding missing functions for the galaxy module
  docs/galaxy.rst
  skypy/galaxy/redshift.py
Owners: @skypyproject/galaxy-developers

Missing functions in quenching
  skypy/halo/quenching.py
Owners: @skypyproject/halo-developers

Adding stellar_mass module and schechter_smf function
  docs/galaxy.rst
Owners: none

Fixing white space error
  skypy/halo/quenching.py
Owners: @skypyproject/halo-developers

Adding missing quenching module
  docs/halo/index.rst
Owners: none

Fixing style in halo index
  docs/halo/index.rst
Owners: none

Fixing typo in galaxy.rst
  docs/galaxy.rst
Owners: none

Add description of status checks to contributor guidelines
  CONTRIBUTING.md
Owners: none

Fixing indentation issue in doc-string
  skypy/galaxy/stellar_mass.py
Owners: @skypyproject/galaxy-developers

Make SkyPy members contributors with type ProjectMember in zenodo config (#226)
  .zenodo.json
Owners: none

Removing helo_herbel from __all__
  skypy/galaxy/redshift.py
Owners: @skypyproject/galaxy-developers

Fixing typo in halo index file
  docs/halo/index.rst
Owners: none

Add description of status checks to contributor guidelines (#230)
  CONTRIBUTING.md
Owners: none

Fixing typo in ellipsoidal function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Fixing underline error
  docs/halo/index.rst
Owners: none

Halo sampler bug (#227)
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Update docs/galaxy.rst
  docs/galaxy.rst
Owners: none

Update spectrum.py
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Update spectrum.py
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Adding missing functions (#229)
  docs/galaxy.rst
  docs/halo/index.rst
  skypy/galaxy/spectrum.py
  skypy/galaxy/stellar_mass.py
  skypy/halo/quenching.py
Owners: @skypyproject/galaxy-developers, @skypyproject/halo-developers

Make SkyPy members contributors with type ProjectMember in zenodo config (#226)
  .zenodo.json
Owners: none

Remove related_identifiers from .zenodo.json
  .zenodo.json
Owners: none

Remove related_identifiers from .zenodo.json (#233)
  .zenodo.json
Owners: none

Remove related_identifiers from .zenodo.json (#233)
  .zenodo.json
Owners: none

Release v0.1.1
  setup.cfg
Owners: none

Release v0.2
  setup.cfg
Owners: none

added more documentation
  docs/index.rst
  importing_skypy.rst
  install.rst
  running_skypy.rst
Owners: none
