Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Delete config file and add matplotlib
  docs/halo/index.rst
Owners: none

Comment plt.show() and add sample plot
  docs/halo/index.rst
Owners: none

Fix config parsing in command line script
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Delete unnecesary section title
  docs/halo/index.rst
Owners: none

Try inline command for plots
  docs/halo/index.rst
Owners: none

Lightcone unit tests
  skypy/pipeline/tests/test_lightcone.py
Owners: @skypyproject/skypy-infrastructure

Add missing bracket
  docs/halo/index.rst
Owners: none

Fix bug in examples section
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

typo
  skypy/pipeline/_lightcone.py
Owners: @skypyproject/skypy-infrastructure

Lightcone abundance matching example
  examples/abundance_matching.yml
Owners: none

load functions from string on construction (#298)
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

arbitrary depth access and evaluation
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

style fix
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

fix for skip_jobs issue
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Changes from #298
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Unit tests for bad module and function names
  skypy/pipeline/tests/data/bad_function.yml
  skypy/pipeline/tests/data/bad_module.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Add test checking functions are Callable
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

example with explicit cosmology
  skypy/galaxy/size.py
Owners: @skypyproject/galaxy-developers

Apply suggestions from code review
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Fixed errors in equation and fixed units - but distracted by reloading news headlines so please check!
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

Changing fsky to sky_area
  skypy/galaxy/_schechter.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Owners: @skypyproject/galaxy-developers

delete inline, add quote, and make the two figures in one
  docs/halo/index.rst
Owners: none

Delete default cosmology
  docs/halo/examples/halo.yml
Owners: none

Delete inline comment
  docs/halo/index.rst
Owners: none

Test coverage for ImportError
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

Config parser (#304)
  skypy/pipeline/__init__.py
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/data/bad_function.yml
  skypy/pipeline/tests/data/bad_module.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

skypy_config renamed load_skypy_yaml
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Update test config with function instead of name
  skypy/pipeline/tests/test_lightcone.py
Owners: @skypyproject/skypy-infrastructure

Revert change to number of halos and galaxies in example
  examples/abundance_matching.yml
Owners: none

Update comment
  skypy/pipeline/tests/test_lightcone.py
Owners: @skypyproject/skypy-infrastructure

custom SkyPy YAML loader subclass
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

custom SkyPy YAML loader subclass (#317)
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

Fix pipeline name
  docs/halo/index.rst
Owners: none

simple construction of quantities in config files
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/quantities.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Set figure size
  docs/halo/index.rst
Owners: none

Fix size and add plot titles
  docs/halo/index.rst
Owners: none

Bigger size
  docs/halo/index.rst
Owners: none

Change of yml files. Including Astropy's qunatity input decorator
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
Owners: @skypyproject/galaxy-developers

Fix size to 10x10
  docs/halo/index.rst
Owners: none

Fix size to 9X3
  docs/halo/index.rst
Owners: none
