Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/galaxy-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/skypy-board

Only evaluate cosmology if it is in the config
  skypy/core.py
Owners: @skypyproject/skypy-infrastructure

Rename _call_from_config to indicate it is for internal use
  skypy/core.py
Owners: @skypyproject/skypy-infrastructure

Option to write tables to fits of hdf5 file
  scripts/skypy
  skypy/core.py
Owners: @skypyproject/skypy-infrastructure

Doctest for growth_function_carroll gives different outputs using astropy 3.x and 4.x to within algorithmic precsion; use doctest: +ELLIPSIS so that the test passes in both cases
  skypy/power_spectrum/growth.py
Owners: @skypyproject/power-spectrum-developers

Test cosmology and tables in SkyPyDriver
  skypy/tests/test_core.py
Owners: @skypyproject/skypy-infrastructure

doctest: +ELLIPSIS is unnecessary because it is enabled by default
  skypy/power_spectrum/growth.py
Owners: @skypyproject/power-spectrum-developers

Fix growth_function_carroll doctest with astropy 4.x (#92)
  skypy/power_spectrum/growth.py
Owners: @skypyproject/power-spectrum-developers

Use networkx DiGraph and topological_sort to determine job execution order that resolves dependencies
  skypy/core.py
Owners: @skypyproject/skypy-infrastructure

Test that cyclic dependencies raise NetworkXUnfeasible
  skypy/tests/test_core.py
Owners: @skypyproject/skypy-infrastructure

networkx is a requirement
  .github/workflows/tests.yaml
  setup.cfg
Owners: none

Utility function, random, for sampling from Schechter function
  skypy/utils/random.py
Owners: @skypyproject/skypy-infrastructure

Move old skypy.core module to new skypy.pipeline.driver module
  scripts/skypy
  skypy/pipeline/__init__.py
  skypy/pipeline/driver.py
  skypy/pipeline/tests/__init__.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Minor changes and some test
  skypy/utils/random.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

Fixed minor issue with flake8
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

set `rv_wrapped` properties from other r.v.
  skypy/stats/rv.py
Owners: @skypyproject/skypy-infrastructure

Update the Herbel_luminosity function to make use of the utils random feature
  skypy/galaxy/luminosity.py
  skypy/galaxy/tests/test_luminosity.py
Owners: @skypyproject/galaxy-developers

standard checks for random variables
  skypy/galaxy/tests/test_redshift.py
  skypy/stats/__init__.py
  skypy/stats/checks.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/galaxy @skypyproject/galaxy-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
