Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Test dependencies on individual columns from multi-column assignment
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Multi-column assignment using schechter_lf in MCCL example
  examples/mccl_galaxies.yml
Owners: none

DAG nodes for each column in a multi-column assignment
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Multi-column assignment
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

remove broken multidimensional case
  skypy/galaxy/_spectrum_loaders.py
Owners: @skypyproject/galaxy-developers

Use comma and optional whitespace to separate column names
  examples/mccl_galaxies.yml
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Use readthedocs for documentation CI builds
  .circleci/config.yml
  .github/workflows/docs.yaml
Owners: none

Update list of status checks
  CONTRIBUTING.md
Owners: none

Use readthedocs for documentation CI builds (#297)
  .circleci/config.yml
  .github/workflows/docs.yaml
  CONTRIBUTING.md
Owners: none

Changes from code review
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Multi-column assignment (#296)
  examples/mccl_galaxies.yml
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

parameter definitions in pipeline
  docs/pipeline/examples/pipeline.yml
  docs/pipeline/index.rst
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Revert "pin pytest<6.1 (#295)"
  setup.cfg
Owners: none

Revert "pin pytest<6.1 (#295)" (#299)
  setup.cfg
Owners: none

boulder at top of hill
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

Modify doc string, schechter scale and x_max
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Update skypy/halo/properties.py
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

Update skypy/halo/properties.py
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

Remove little h units from CAMB (#252)
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

Responded to comments to tidy up names etc
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

fixed over indented block pointed out by Lucia
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

Fix x_max and delete subhalo_amplitude
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Doc string main changes
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Add noise parameter for poisson sample
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Add test_number_subhalos
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing test error
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Fixing assertion error
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

suggestions from code review
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Add extra test for subhalo mass sampler
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

parameter definitions in pipeline (#289)
  docs/pipeline/examples/pipeline.yml
  docs/pipeline/index.rst
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Add analytic solution to test number subhalos
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

improved loading of multiple spectral data (#291)
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

remove stellar mass units
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

remove stellar mass units (#300)
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Set cosmology and parameters outside DAG
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Test pipeline cosmology
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Use default_cosmology context
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Test astropy default cosmology unchanged
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Add comment that astropy cosmology class does not implement __eq__
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Add parameters and cosmology to DAG and skip_jobs
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure
