Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

moved to correct dir
  docs/importing_skypy.rst
  docs/install.rst
  docs/running_skypy.rst
Owners: none

commented out nonexisting docs
  docs/index.rst
Owners: none

commented out nonexisting docs
  docs/index.rst
Owners: none

commenting doesnt seem to work. deleted
  docs/index.rst
Owners: none

Add driver option to overwrite existing output files
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

added minimum versions to config
  docs/conf.py
  docs/install.rst
  skypy/__init__.py
Owners: @skypyproject/skypy-infrastructure

fixed style issues
  docs/index.rst
  skypy/__init__.py
Owners: @skypyproject/skypy-infrastructure

added import
  docs/conf.py
Owners: none

blank lines
  docs/install.rst
Owners: none

Tests for overwrite argument
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Use store_true action for overwrite flag
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

make growth_function accept any redshift shape
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/tests/test_growth.py
Owners: @skypyproject/power-spectrum-developers

Check overwritten file has correct new length
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

fix error in special case
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

Make config a positional argument
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

fix weird bug from numpy view
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

config and overwrite command line arguments for driver script (#239)
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
  skypy/pipeline/tests/test_skypy.py
Owners: @skypyproject/skypy-infrastructure

Apply suggestions from code review
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

Fixes related to suggestions.
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

Evaluate halofit integrals using Simpson's rule
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

compute AB magnitude from spectrum and bandpass
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

update docstring for parameters
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

I can words
  skypy/power_spectrum/_growth.py
Owners: @skypyproject/power-spectrum-developers

fix docstring formatting
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

make growth_function accept any redshift shape (#240)
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/tests/test_growth.py
Owners: @skypyproject/power-spectrum-developers

Scale outputs of Schechter sampler
  skypy/utils/random.py
Owners: @skypyproject/skypy-infrastructure

driver uses fully qualified function names
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

simpler argument specification
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

test string values and module.function imports
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

refactor dependency-gathering code
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

Schechter scale can be an array
  skypy/utils/random.py
Owners: @skypyproject/skypy-infrastructure

Test shape of schechter samples when setting scale as either a scalar or an array
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

Test alpha=0 gives an exponential distribution
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

improved Schechter random sampling
  skypy/utils/random.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

Use numpy broadcast to determine sample size
  skypy/utils/random.py
Owners: @skypyproject/skypy-infrastructure

test Schechter special case of gamma distribution
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

If broadcast has no shape then size = None
  skypy/utils/random.py
Owners: @skypyproject/skypy-infrastructure

Switch integration method to trapzoidal rule
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

Scaled Schechter samples (#243)
  skypy/utils/random.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

fix tests
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure
