Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

Contributors in alphabetical order
  .zenodo.json
Owners: none

Move notebooks to docs
  docs/examples/abundance_matching.ipynb
  docs/examples/gravitational_wave_rates.ipynb
  docs/examples/mccl_galaxies.ipynb
Owners: none

nbsphinx
  docs/conf.py
  setup.cfg
Owners: none

Add example notebooks to toctree
  docs/index.rst
Owners: none

Change text and delete blank line
  docs/power_spectrum/index.rst
Owners: none

Update Power Spectrum Documentation (#337)
  docs/power_spectrum/examples/power_spectrum.yml
  docs/power_spectrum/index.rst
Owners: none

Pipeline.__getitem__ returns column data as a Quantity
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Regression test
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Add plot for three mergers'
  docs/gravitational_wave/examples/merger_rates.yml
  docs/gravitational_wave/index.rst
Owners: none

Adding table to config file and fix text
  docs/gravitational_wave/examples/merger_rates.yml
  docs/gravitational_wave/index.rst
Owners: none

Return column data as either a numpy array or an astropy quantity
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Move galaxy/ to its own directory and update index.rst
  docs/galaxy/index.rst
  docs/index.rst
Owners: none

Add config file
  docs/galaxy/examples/mccl_galaxies.yml
Owners: none

Update regression test for ndarray
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Remove ProjectMember type from authors
  .zenodo.json
Owners: none

Change project members to authors (#352)
  .zenodo.json
Owners: none

Cite software version DOI
  CITATION
  CITATION.rst
  README.rst
Owners: none

Evaluate and access items to arbitrary depth in Pipeline (#302)
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Pipeline.__getitem__ returns column data as a Quantity or ndarray (#356)
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Raise exception if config keys are not strings
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/numeric_keys.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Recursively check keys parse as strings
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

update config tests
  skypy/pipeline/tests/data/numeric_key.yml
  skypy/pipeline/tests/data/numeric_keys.yml
  skypy/pipeline/tests/data/numeric_kwarg.yml
  skypy/pipeline/tests/data/numeric_nested_key.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Move methods of SkyPyLoader class
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

Apply suggestions from code review
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/numeric_key.yml
  skypy/pipeline/tests/data/numeric_kwarg.yml
  skypy/pipeline/tests/data/numeric_nested_key.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Raise exception if config keys are not strings (#365)
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/numeric_key.yml
  skypy/pipeline/tests/data/numeric_kwarg.yml
  skypy/pipeline/tests/data/numeric_nested_key.yml
  skypy/pipeline/tests/test_config.py
Owners: @skypyproject/skypy-infrastructure

Explicitly use Planck15 cosmology in tests
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
  skypy/power_spectrum/tests/test_growth.py
Owners: @skypyproject/power-spectrum-developers

Explicitly use Planck15 cosmology in tests (#367)
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
  skypy/power_spectrum/tests/test_growth.py
Owners: @skypyproject/power-spectrum-developers

Access filter responses with speclite package
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

fail on warnings for RTD sphinx build
  .readthedocs.yml
Owners: none

fail on warnings for RTD sphinx build (#369)
  .readthedocs.yml
Owners: none

pipeline: functions are (function, args, kwargs)
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

empty arg is specifically empty string
  skypy/pipeline/_config.py
Owners: @skypyproject/skypy-infrastructure

pipeline: functions are (function, args, kwargs) (#370)
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

pipeline: do not use default_cosmology
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

catch specific signature exception
  skypy/pipeline/_pipeline.py
Owners: @skypyproject/skypy-infrastructure

remove default_cosmology leftovers
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

pipeline: do not use default_cosmology (#371)
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Remove uses_default_cosmology decorator
  docs/utils/index.rst
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/size.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_schechter.py
  skypy/halo/tests/test_abundance_matching.py
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/galaxy-developers, @skypyproject/halo-developers, @skypyproject/skypy-infrastructure

Fix abundance matching example
  examples/abundance_matching.yml
Owners: none

Fix lightcone example in pipeline documentation
  docs/pipeline/examples/lightcone.yml
Owners: none
