Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Adding conda and fixing running tests
  README.rst
Owners: none

Update skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Undoing changes to doc string
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Changes in subhalo amplitude andadding comment with reference
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Eliminating subhalo mass function
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Revert documentation changes
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

Make reshaping of final array clearer
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Changes to use only Vale&Ostriker model
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Simplify camb doctest
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Fix camb docstring
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Remove additional blank lines
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/power-spectrum-developers

Switch power spectrum index order in halofit test
  skypy/power_spectrum/tests/test_halofit.py
Owners: @skypyproject/power-spectrum-developers

Skip camb doctest
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

Cleaning up massf
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Reshape of Power Spectra (#197)
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/data/linear_power.txt
  skypy/power_spectrum/tests/data/truth_bird.txt
  skypy/power_spectrum/tests/data/truth_smith.txt
  skypy/power_spectrum/tests/data/truth_takahashi.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_halofit.py
Owners: @skypyproject/power-spectrum-developers

Changes in doc string
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Deleting comment
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Undoing unrelated fixes
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

Changes to test subhalo sampler
  skypy/halo/tests/test_mass.py
Owners: @skypyproject/halo-developers

rename test function
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

Anaconda badge
  README.rst
Owners: none

SkyPy festure list with links to the documentation
  README.rst
Owners: none

Remove excess license information
  README.rst
Owners: none

Getting Started
  README.rst
Owners: none

Move pipelines to list of features
  README.rst
Owners: none

Citation Guidelines
  README.rst
Owners: none

Contributing
  README.rst
Owners: none

Reformat hyperlinks for easier to read text
  README.rst
Owners: none

Update README.rst
  README.rst
Owners: none

added mock for class
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

Update README: feature list, document hyperlinks and getting started guide (#247)
  README.rst
Owners: none

switch to interpolation, remove h units, massless neutrinos
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

codestyle fixes
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

more codestyle
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

changed to classylss (pip installable)
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

tidied up test
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

renamed z_reio variable to match class
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

added classylss extra to setup.cfg
  setup.cfg
Owners: none

build CLASS for testing all dependencies
  .github/workflows/tests.yaml
Owners: none

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
