Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

utility decorators
  docs/utils/index.rst
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
Owners: @skypyproject/skypy-infrastructure

help with relative order of the decorators
  docs/utils/index.rst
Owners: none

fix some whitespace errors
  docs/utils/index.rst
Owners: none

docs with table of contents
  docs/utils/index.rst
Owners: none

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update tox.ini
  tox.ini
Owners: none

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

added transpose to return
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

transpose return array to match pr197
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

moved specification of classy prerequisite
  setup.cfg
  skypy/power_spectrum/_classy.py
  tox.ini
Owners: @skypyproject/power-spectrum-developers

tests for decorators
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/skypy-infrastructure

use astropy units text representation
  skypy/halo/mass.py
  skypy/halo/quenching.py
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/halo-developers, @skypyproject/power-spectrum-developers

change mass quenching p-values
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

Absolute AB magnitudes for kcorrect composite sepctra
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

use `specutils.Spectrum1D` for `mag_ab`
  setup.cfg
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

make specutils optional
  setup.cfg
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

use dimensionless_unscaled units for throughput
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

make SkyPyDriver re-runnable
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

functions do not need to be stored
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

code style changes
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

use specutils for spectrum and bandpass definitions (#277)
  setup.cfg
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

New API for mag_AB; use specutils for spectral quentities
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Accept multiple bandpasses as a SpectrumList
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Rename function and update docstring
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Register magnitudes_from_templates in __all__
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Reorder axes to use as table columns
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Add magnitude function autosummaries to galaxy spectrum documentation
  docs/galaxy.rst
Owners: none

change mass quenching p-values (#275)
  skypy/halo/tests/test_quenching.py
Owners: @skypyproject/halo-developers

Dirichlet coefficients with optional weight
  examples/mccl_galaxies.yml
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

add brief docstrings
  skypy/utils/_decorators.py
Owners: @skypyproject/skypy-infrastructure

Update decorator docstrings
  skypy/utils/_decorators.py
Owners: @skypyproject/skypy-infrastructure

utility decorators (#271)
  docs/utils/index.rst
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
  skypy/utils/tests/test_decorators.py
Owners: @skypyproject/skypy-infrastructure

Dirichlet coefficients with optional weight (#273)
  examples/mccl_galaxies.yml
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

fix schechter random sampling test failures
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

Update skypy/utils/tests/test_random.py
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

fix schechter random sampling test failures (#280)
  skypy/utils/tests/test_random.py
Owners: @skypyproject/skypy-infrastructure

mag_ab accepts multiple spectra and bandpasses
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers
