Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board

test on a massless neutrino cosmology
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

cython dependency
  .github/workflows/tests.yaml
Owners: none

test on a massless neutrino cosmology
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/test_camb.py
Owners: @skypyproject/power-spectrum-developers

numpy build dependency
  .github/workflows/tests.yaml
  setup.cfg
Owners: none

tidied interp evaluation
  skypy/power_spectrum/_camb.py
Owners: @skypyproject/power-spectrum-developers

uninstall modules in host environment
  .github/workflows/tests.yaml
Owners: none

force uninstall build dependencies
  .github/workflows/tests.yaml
Owners: none

do not uninstall classy
  .github/workflows/tests.yaml
Owners: none

refactor back to basic classy
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
Owners: @skypyproject/power-spectrum-developers

remove classylss from setup.cfg
  setup.cfg
Owners: none

corrected import error message
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

fixed import test
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

test with classy import
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

remove classy pip dependency
  setup.cfg
Owners: none

removed classy from config
  setup.cfg
Owners: none

make system packages to tox env
  .github/workflows/tests.yaml
Owners: none

pip-install classy
  .github/workflows/tests.yaml
  tox.ini
Owners: none

removed vestigial import
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

use numpy.testing
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

Lightcone mode; loop over linear redshift slices
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

classy version specified for test
  skypy/power_spectrum/tests/test_class.py
  tox.ini
Owners: @skypyproject/power-spectrum-developers

fiddling test
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

changed test to check numerics
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

final fix for codestyle
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

vstack tables for each redshift slice
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Write final lightcone tables to file
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

simplify config file syntax
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Fixing typo in examples
  README.rst
Owners: none

Fixing typo in README example (#257)
  README.rst
Owners: none

Equally spaced comoving distance slices
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Single file I/O routine for both default and lightcone mode
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Use comoving distance to determine the midpoint of each redshift slice
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

Add lightcone redshift variables and rename slice redshift variables
  skypy/pipeline/scripts/skypy.py
Owners: @skypyproject/skypy-infrastructure

better support for literal strings and dicts
  examples/gravitational_wave_rates.yml
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

remove unused import
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure

fix bad list case
  skypy/pipeline/driver.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

add missing test
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

use YAML tags for functions and references
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

test reference default values
  skypy/pipeline/driver.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

improve cases
  skypy/pipeline/driver.py
Owners: @skypyproject/skypy-infrastructure
