Repository skypyproject/skypy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skypyproject/skypy-infrastructure, @skypyproject/cluster-developers, @skypyproject/galaxy-developers, @skypyproject/gravitational-wave-developers, @skypyproject/halo-developers, @skypyproject/power-spectrum-developers, @skypyproject/supernova-developers, @skypyproject/skypy-board

Use new mag_ab function for multiple spectra and bandpasses
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

do not fix seed in tests
  skypy/galaxy/size.py
Owners: @skypyproject/galaxy-developers

refactor Schechter luminosity function sampling
  docs/galaxy.rst
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/__init__.py
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Owners: @skypyproject/galaxy-developers

do not fix seed in tests (#282)
  skypy/galaxy/size.py
Owners: @skypyproject/galaxy-developers

Fix loops and array shapes
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

refactor Schechter luminosity function sampling (#244)
  docs/galaxy.rst
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/__init__.py
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Owners: @skypyproject/galaxy-developers

make SkyPyDriver re-runnable (#278)
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

functions for working with magnitudes
  skypy/galaxy/luminosity.py
  skypy/galaxy/tests/test_luminosity.py
Owners: @skypyproject/galaxy-developers

improved luminosity functions in skypy.galaxy.luminosity
  docs/galaxy.rst
  docs/utils/index.rst
  skypy/galaxy/luminosity.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/utils/astronomy.py
  skypy/utils/tests/test_astronomy.py
Owners: @skypyproject/galaxy-developers, @skypyproject/skypy-infrastructure

use ridiculously long argument names
  skypy/galaxy/luminosity.py
Owners: @skypyproject/galaxy-developers

cover exceptions
  skypy/galaxy/tests/test_luminosity.py
Owners: @skypyproject/galaxy-developers

make driver class more prominent
  docs/pipeline/index.rst
  skypy/pipeline/__init__.py
  skypy/pipeline/_driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
Owners: @skypyproject/skypy-infrastructure

Pluralise docstring
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

replace "driver" with "pipeline"
  docs/pipeline/index.rst
  skypy/pipeline/__init__.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Pipeline class and documentation (#283)
  docs/pipeline/index.rst
  skypy/pipeline/__init__.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_pipeline.py
Owners: @skypyproject/skypy-infrastructure

Fix indexing for magnitude offset per band
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Multiband, multispectra, redshift-dependent unit test
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

Apply suggestions from code review
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

Tidy up docstring
  skypy/galaxy/spectrum.py
Owners: @skypyproject/galaxy-developers

mag_ab accepts multiple spectra and bandpasses (#281)
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Owners: @skypyproject/galaxy-developers

use astropy units text representation (#272)
  skypy/halo/mass.py
  skypy/halo/quenching.py
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_halofit.py
Owners: @skypyproject/halo-developers, @skypyproject/power-spectrum-developers

Rerunning to fix kstest error from quenching
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Delete white space
  skypy/halo/mass.py
Owners: @skypyproject/halo-developers

Placeholder for halo circuloar velocity function
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

drafted the circular velocity code pending testing
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

managed to run this version and get some numbers out. noted some major issues to come back to at the end of the comments though
  skypy/halo/properties.py
Owners: @skypyproject/halo-developers

sample positions uniformly around centre
  docs/index.rst
  docs/positions.rst
  skypy/position/__init__.py
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

make example plot in user documentation
  docs/index.rst
  docs/position/index.rst
  docs/position/uniform_around.yml
  docs/positions.rst
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

improve documentation language
  docs/position/index.rst
Owners: none

test distribution
  skypy/position/tests/__init__.py
  skypy/position/tests/test_uniform.py
Owners: @skypyproject/skypy-infrastructure

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

move documentation examples to folder
  docs/position/examples/uniform_around.yml
  docs/position/index.rst
Owners: none

much simpler implementation
  skypy/position/_uniform.py
Owners: @skypyproject/skypy-infrastructure

test both separation and position angle
  skypy/position/tests/test_uniform.py
Owners: @skypyproject/skypy-infrastructure

updated test to match default args, reimplemented mPk as explicit choice
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

remove whitespace
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

Update skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_classy.py
Owners: @skypyproject/power-spectrum-developers

treatment of scalars
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/test_class.py
Owners: @skypyproject/power-spectrum-developers

.github/CODEOWNERS:

skypy @skypyproject/skypy-infrastructure
skypy/cluster @skypyproject/cluster-developers
skypy/galaxy @skypyproject/galaxy-developers
skypy/gravitational_wave @skypyproject/gravitational-wave-developers
skypy/halo @skypyproject/halo-developers
skypy/power_spectrum @skypyproject/power-spectrum-developers
skypy/supernova @skypyproject/supernova-developers
CODE_OF_CONDUCT.md @skypyproject/skypy-board
