Repository skypyproject/skypy, pull requests merged in 2020-10, with the labels that each got.

#219 Subhalo mass function given parent halo
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Labels: module: halo, new feature

#308 use skypy-data package for spectral data
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Labels: infrastructure

#261 Vale & Ostriker 2004 halo-galaxy model
  examples/abundance_matching.yml
  skypy/halo/abundance_matching.py
  skypy/halo/tests/test_abundance_matching.py
Labels: enhancement, module: halo

#298 Pipeline: load functions from string on construction
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: infrastructure, module: pipeline

#304 Config parser
  skypy/pipeline/__init__.py
  skypy/pipeline/_config.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/data/bad_function.yml
  skypy/pipeline/tests/data/bad_module.yml
  skypy/pipeline/tests/test_config.py
Labels: enhancement, infrastructure, module: pipeline

#317 custom SkyPy YAML loader subclass
  skypy/pipeline/_config.py
Labels: module: pipeline

#310 galaxy angular size uses default cosmology
  examples/mccl_galaxies.yml
  skypy/galaxy/size.py
Labels: enhancement, module: galaxy

#254 Lightcone class
  examples/abundance_matching.yml
  skypy/pipeline/__init__.py
  skypy/pipeline/_lightcone.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/lightcone_config.yml
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
  skypy/pipeline/tests/test_skypy.py
Labels: infrastructure, module: pipeline, new feature

#312 Fix bug in examples section
  skypy/halo/mass.py
Labels: bug, module: halo

#322 Make skypy-data an optional dependency
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
Labels: high priority, release

#319 fix skypy script documentation
  docs/pipeline/index.rst
  skypy/pipeline/scripts/skypy.py
Labels: bug, documentation

#332 Warning test_template_spectra calculating distance modulus
  skypy/galaxy/tests/test_spectrum.py
Labels: bug, v0.3 hack

#329 fixed pycodestlye errors
  skypy/__init__.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/pipeline/tests/test_pipeline.py
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Labels: v0.3 hack

#331 skip tests if requirements for spectrum functions are not met
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Labels: bug, tests, v0.3 hack

#338 Update Pipeline documentation for v0.3
  docs/pipeline/examples/config.yml
  docs/pipeline/examples/lightcone.yml
  docs/pipeline/index.rst
Labels: documentation, module: pipeline, v0.3 hack

#306 Update Halo documentation for v0.3
  docs/halo/examples/halo.yml
  docs/halo/index.rst
Labels: documentation, module: halo

#330 Optional dependencies in README
  README.rst
Labels: v0.3 hack

#346 Update Readme badges and instructions
  README.rst
Labels: documentation, enhancement, low priority, v0.4 hack

#316 simple construction of quantities in config files
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/quantities.yml
  skypy/pipeline/tests/test_config.py
Labels: enhancement, module: pipeline

#314 Changing fsky to sky_area
  docs/pipeline/examples/lightcone.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/_schechter.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Labels: enhancement, module: galaxy

#344 sample positions uniformly over HEALPix pixel
  docs/position/examples/uniform_in_pixel.yml
  docs/position/index.rst
  setup.cfg
  skypy/position/__init__.py
  skypy/position/_uniform.py
  skypy/position/tests/test_healpy.py
Labels: module: position

#339 Ipynb examples
  examples/abundance_matching.ipynb
  examples/gravitational_wave_rates.ipynb
  examples/mccl_galaxies.ipynb
Labels: examples, v0.3 hack
