Repository skypyproject/skypy, pull requests merged in 2020-09, with the labels that each got.

#259 Configure codeclimate
  .github/workflows/codestyle.yaml
  .github/workflows/tests.yaml
  CONTRIBUTING.md
  setup.cfg
  tox.ini
Labels: continuous integration

#255 simplify config file syntax
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/herbel_galaxies.yaml
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Labels: examples, infrastructure

#263 flag to show skypy version
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_skypy.py
Labels: infrastructure, module: pipeline, new feature

#264 update contributor guidelines
  CONTRIBUTING.md
Labels: documentation

#266 MCCL galaxies example
  README.rst
  examples/mccl_galaxies.yml
  skypy/pipeline/scripts/skypy.py
Labels: examples

#265 Instructions to clone examples repository
  README.rst
Labels: documentation

#268 Import packages and modules
  skypy/__init__.py
  skypy/galaxy/__init__.py
  skypy/halo/__init__.py
Labels: infrastructure

#267 config files can have nested function calls
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/pipeline/driver.py
  skypy/pipeline/tests/data/test_config.yml
  skypy/pipeline/tests/test_driver.py
Labels: infrastructure

#277 use specutils for spectrum and bandpass definitions
  setup.cfg
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: enhancement, module: galaxy

#275 change mass quenching p-values
  skypy/halo/tests/test_quenching.py
Labels: bug, module: halo, tests

#273 weights for Dirichlet coefficients
  examples/mccl_galaxies.yml
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: enhancement, module: galaxy

#280 fix schechter random sampling test failures
  skypy/utils/tests/test_random.py
Labels: bug, tests

#244 refactor Schechter luminosity function sampling
  docs/galaxy.rst
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  examples/mccl_galaxies.yml
  skypy/galaxy/__init__.py
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
Labels: enhancement, module: galaxy

#278 make SkyPyDriver re-runnable
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
Labels: module: pipeline

#283 Pipeline class and documentation
  docs/pipeline/index.rst
  skypy/pipeline/__init__.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_pipeline.py
Labels: documentation, enhancement, infrastructure

#281 mag_ab accepts multiple spectra and bandpasses
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: enhancement, module: galaxy

#272 use astropy units text representation in documentation
  skypy/halo/mass.py
  skypy/halo/quenching.py
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_halofit.py
Labels: documentation

#249 Class
  setup.cfg
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Labels: module: power spectrum, new feature

#286 Add classy to linear power spectrum documentation
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/_classy.py
Labels: bug, documentation, module: power spectrum

#274 functions for working with magnitudes
  docs/galaxy.rst
  docs/utils/index.rst
  examples/abundance_matching.yml
  examples/gravitational_wave_rates.yml
  skypy/galaxy/luminosity.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/utils/astronomy.py
  skypy/utils/tests/test_astronomy.py
Labels: module: galaxy, new feature

#276 AB magnitudes from composites of template sepctra
  docs/galaxy.rst
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: module: galaxy, new feature

#290 Stellar masses from magnitudes of composite spectra in a reference band
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: module: galaxy, new feature

#295 pin pytest<6.1
  setup.cfg
Labels: high priority, infrastructure

#297 Use readthedocs for documentation CI builds
  .circleci/config.yml
  .github/workflows/docs.yaml
  CONTRIBUTING.md
Labels: continuous integration, documentation, infrastructure

#296 Multi-column assignment
  examples/mccl_galaxies.yml
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: enhancement, examples, infrastructure, module: pipeline

#299 Revert "pin pytest<6.1 (#295)"
  setup.cfg
Labels: infrastructure, low priority

#252 Remove little h units from CAMB
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_class.py
Labels: bug, module: power spectrum

#289 parameter definitions in pipeline
  docs/pipeline/examples/pipeline.yml
  docs/pipeline/index.rst
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: infrastructure, module: pipeline

#291 improved loading of multiple spectral data
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: module: galaxy

#300 remove stellar mass units
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: bug, high priority, module: galaxy

#301 Use default cosmology context in pipeline
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: enhancement, high priority, infrastructure, module: pipeline
