Repository skypyproject/skypy, pull requests merged in 2020-08, with the labels that each got.

#243 Scaled Schechter samples
  skypy/utils/random.py
  skypy/utils/tests/test_random.py
Labels: enhancement, module: utils

#241 Evaluate halofit integrals using trapezoidal rule
  skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/tests/data/linear_power.txt
  skypy/power_spectrum/tests/data/truth_bird.txt
  skypy/power_spectrum/tests/data/truth_smith.txt
  skypy/power_spectrum/tests/data/truth_takahashi.txt
  skypy/power_spectrum/tests/test_halofit.py
Labels: enhancement, module: power spectrum

#197 Reshape of Power Spectra
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_halofit.py
  skypy/power_spectrum/tests/data/camb_result.txt
  skypy/power_spectrum/tests/data/linear_power.txt
  skypy/power_spectrum/tests/data/truth_bird.txt
  skypy/power_spectrum/tests/data/truth_smith.txt
  skypy/power_spectrum/tests/data/truth_takahashi.txt
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_halofit.py
Labels: high priority, module: power spectrum

#247 Update README: feature list, document hyperlinks and getting started guide
  README.rst
Labels: documentation, good first issue

#257 Fixing typo in README example
  README.rst
Labels: bug
