Repository skypyproject/skypy, pull requests merged in 2020-11, with the labels that each got.

#352 Change project members to authors
  .zenodo.json
Labels: board, coordinators, infrastructure, release

#302 Evaluate and access items to arbitrary depth in Pipeline
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: enhancement, infrastructure, module: pipeline

#356 Pipeline.__getitem__ returns column data as a Quantity or ndarray
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: enhancement, infrastructure, module: pipeline

#365 Raise exception if config keys are not strings
  skypy/pipeline/_config.py
  skypy/pipeline/tests/data/numeric_key.yml
  skypy/pipeline/tests/data/numeric_kwarg.yml
  skypy/pipeline/tests/data/numeric_nested_key.yml
  skypy/pipeline/tests/test_config.py
Labels: bug, module: pipeline

#367 Explicitly use Planck15 cosmology in tests
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
  skypy/power_spectrum/tests/test_growth.py
Labels: astropy, bug, tests

#369 fail on warnings for RTD sphinx build
  .readthedocs.yml
Labels: infrastructure

#371 pipeline: do not use default_cosmology
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/test_pipeline.py
Labels: module: pipeline

#372 Remove uses_default_cosmology decorator
  docs/pipeline/examples/lightcone.yml
  docs/utils/index.rst
  examples/abundance_matching.yml
  skypy/galaxy/_schechter.py
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/size.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_schechter.py
  skypy/halo/abundance_matching.py
  skypy/halo/tests/test_abundance_matching.py
  skypy/utils/__init__.py
  skypy/utils/_decorators.py
  skypy/utils/tests/test_decorators.py
Labels: infrastructure, module: utils

#368 Access filter responses with speclite package
  setup.cfg
  skypy/galaxy/_spectrum_loaders.py
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Labels: module: galaxy

#379 Add kcorrect template data to SkyPy package
  setup.cfg
  skypy/data/spectrum_templates/kcorrect_rawspec.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nl.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_rawspec_nl_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nd.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nl.ecsv.gz
  skypy/data/spectrum_templates/kcorrect_spec_nl_nd.ecsv.gz
  skypy/galaxy/_spectrum_loaders.py
Labels: enhancement, infrastructure

#380 Drop skypy-data dependency
  README.rst
  setup.cfg
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/tests/test_decorators.py
Labels: documentation, infrastructure

#376 Installation instructions in documentation
  README.rst
  docs/index.rst
  docs/install.rst
Labels: documentation, installation

#377 pipeline: check YAML mapping keys on creation
  skypy/pipeline/_config.py
  skypy/pipeline/tests/test_config.py
Labels: module: pipeline

#381 Require speclite version 0.11 or later
  setup.cfg
Labels: infrastructure

#378 pipeline: generic interface for pipeline items
  skypy/pipeline/_config.py
  skypy/pipeline/_items.py
  skypy/pipeline/_lightcone.py
  skypy/pipeline/_pipeline.py
  skypy/pipeline/tests/data/test_empty_ref.yml
  skypy/pipeline/tests/test_config.py
  skypy/pipeline/tests/test_items.py
  skypy/pipeline/tests/test_lightcone.py
  skypy/pipeline/tests/test_pipeline.py
Labels: module: pipeline
