Repository skypyproject/skypy, pull requests merged in 2020-07, with the labels that each got.

#207 report codeclimate coverage
  .github/workflows/tests.yaml
Labels: infrastructure

#209 fix minor bugs
  examples/herbel_galaxies.yaml
  skypy/galaxy/ellipticity.py
Labels: bug

#191 Environment and mass quenching models
  skypy/halo/quenching.py
  skypy/halo/tests/test_quenching.py
Labels: module: halo, new feature

#187 Fixes to BSD-3-Clause license
  LICENSE.rst
Labels: license

#208 absolute magnitude standard band zeropoints
  skypy/galaxy/luminosity.py
  skypy/galaxy/redshift.py
  skypy/galaxy/tests/test_luminosity.py
  skypy/galaxy/tests/test_redshift.py
  skypy/utils/astronomy.py
Labels: enhancement, module: galaxy

#215 Sersic indices for red and blue galaxies
  examples/herbel_galaxies.yaml
Labels: examples, module: galaxy

#186 Halo sampler based on Sheth & Tormen 1999 formalism
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Labels: help wanted, module: halo, new feature

#217 Hide random outputs in halo_mass_sampler doctest
  skypy/halo/mass.py
Labels: bug, high priority, module: halo

#216 Abundance matching example
  examples/abundance_matching.yml
Labels: examples, module: galaxy, module: halo

#211 Sampling of the galaxy stellar masses
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_stellar_mass.py
Labels: module: galaxy, new feature

#201 Power Spectrum Documentation
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/_halofit.py
Labels: documentation, module: power spectrum

#213 Flux density according to kcorrect
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: module: galaxy, new feature

#192 Zenodo config file
  .zenodo.json
Labels: board, coordinators, release

#193 added concept doi to citation
  CITATION
Labels: documentation

#204 added abadie table iii model
  skypy/gravitational_wave/__init__.py
  skypy/gravitational_wave/merger_rate.py
  skypy/gravitational_wave/tests/test_merger_rate.py
Labels: module: gravitational wave, new feature

#218 Simple gravitational wave event rate example
  examples/gravitational_wave_rates.yml
Labels: examples, module: gravitational wave

#221 Mock camb on readthedocs
  .readthedocs.yml
  docs/conf.py
Labels: bug, documentation, high priority

#226 Use ProjectMember type in zenodo config
  .zenodo.json
Labels: board, coordinators, infrastructure, v0.2 hack

#230 Add description of status checks to contributor guidelines
  CONTRIBUTING.md
Labels: documentation, v0.2 hack

#227 Halo sampler bug
  skypy/halo/mass.py
  skypy/halo/tests/test_mass.py
Labels: bug, module: halo, v0.2 hack

#229 Adding missing functions
  docs/galaxy.rst
  docs/halo/index.rst
  skypy/galaxy/spectrum.py
  skypy/galaxy/stellar_mass.py
  skypy/halo/quenching.py
Labels: bug, documentation, v0.2 hack

#233 Remove related_identifiers from zenodo config
  .zenodo.json
Labels: bug, high priority

#239 config and overwrite command line arguments for driver script
  skypy/pipeline/driver.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_driver.py
  skypy/pipeline/tests/test_skypy.py
Labels: enhancement, infrastructure, module: pipeline

#240 make growth_function accept any redshift shape
  skypy/power_spectrum/_growth.py
  skypy/power_spectrum/tests/test_growth.py
Labels: enhancement, module: power spectrum
