Repository skypyproject/skypy, pull requests merged in 2021-01, with the labels that each got.

#385 Setup sphinx-gallery; add example for Schechter luminosity function
  .gitignore
  docs/Makefile
  docs/conf.py
  docs/index.rst
  examples/README.rst
  examples/galaxies/README.rst
  examples/galaxies/lopez_sanjuan+17_B1.ecsv
  examples/galaxies/plot_schechter.py
Labels: documentation, examples, module: galaxy

#386 Refactor galaxy photometry from kcorrect templates
  docs/galaxy.rst
  licenses/kcorrect.rst
  skypy/data/kcorrect/k_nmf_derived.default.fits
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: enhancement, module: galaxy

#363 Cite software version DOI
  CITATION
  CITATION.rst
  README.rst
Labels: documentation

#397 Metallicity from kcorrect templates
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: module: galaxy, new feature, v0.4 hack

#400 Star formation rates from kcorrect templates
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
Labels: module: galaxy, new feature, v0.4 hack

#393 Update example section in README
  README.rst
Labels: documentation, examples, v0.4 hack

#403 build docs for all galaxy.spectrum objects
  docs/galaxy.rst
  skypy/galaxy/spectrum.py
Labels: documentation

#394 refactor schechter stellar mass sampling
  docs/galaxy.rst
  skypy/galaxy/__init__.py
  skypy/galaxy/_schechter.py
  skypy/galaxy/redshift.py
  skypy/galaxy/stellar_mass.py
  skypy/galaxy/tests/test_redshift.py
  skypy/galaxy/tests/test_schechter.py
  skypy/galaxy/tests/test_stellar_mass.py
Labels: module: galaxy, v0.4 hack

#406 astropy package template license
  licenses/TEMPLATE_LICENCE.rst
Labels: license, v0.4 hack

#408 add mailmap
  .mailmap
Labels: infrastructure

#405 Move Code of Conduct into documentation
  CODE_OF_CONDUCT.md
  README.rst
  docs/index.rst
  docs/project/CODE_OF_CONDUCT.rst
Labels: board, documentation

#399 Contributing section in documentation
  CONTRIBUTING.md
  README.rst
  docs/developer/CONTRIBUTING.rst
  docs/index.rst
Labels: documentation

#388 Example for size function
  examples/galaxies/Shen+03_early.txt
  examples/galaxies/Shen+03_late.txt
  examples/galaxies/plot_size.py
Labels: documentation, examples, help wanted, module: galaxy

#395 Optical photometry example
  docs/pipeline/index.rst
  examples/galaxies/plot_photometry.py
  examples/galaxies/sdss_dered_10deg2.ecsv
  examples/galaxies/sdss_photometry.yml
  examples/mccl_galaxies.ipynb
  examples/mccl_galaxies.yml
  setup.cfg
  skypy/tests/test_examples.py
Labels: documentation, examples, module: galaxy, v0.4 hack

#410 move galaxy size and ellipticity to morphology
  docs/galaxy.rst
  examples/galaxies/plot_size.py
  skypy/galaxy/__init__.py
  skypy/galaxy/ellipticity.py
  skypy/galaxy/morphology.py
  skypy/galaxy/tests/test_ellipticity.py
  skypy/galaxy/tests/test_import.py
  skypy/galaxy/tests/test_morphology.py
Labels: module: galaxy

#411 Move mag_ab and SpectrumTemplates to new utils.photometry module
  docs/galaxy.rst
  docs/utils/index.rst
  skypy/galaxy/spectrum.py
  skypy/galaxy/tests/test_spectrum.py
  skypy/utils/__init__.py
  skypy/utils/photometry.py
  skypy/utils/tests/test_decorators.py
  skypy/utils/tests/test_photometry.py
Labels: module: photometry

#412 GitHub Actions housekeeping
  .github/problem_matchers/flake8.json
  .github/problem_matchers/pytest.json
  .github/problem_matchers/sphinx.json
  .github/workflows/compatibility.yaml
  .github/workflows/tests.yaml
Labels: infrastructure
