Repository skypyproject/skypy, pull requests merged in 2021-02, with the labels that each got.

#421 Run unit tests on module branches
  .github/workflows/tests.yaml
Labels: infrastructure, tests

#420 rename skypy.halo to skypy.halos
  .github/CODEOWNERS
  README.rst
  docs/halos/examples/halos.yml
  docs/halos/index.rst
  docs/index.rst
  skypy/__init__.py
  skypy/halo/tests/test_import.py
  skypy/halos/__init__.py
  skypy/halos/abundance_matching.py
  skypy/halos/mass.py
  skypy/halos/quenching.py
  skypy/halos/tests/__init__.py
  skypy/halos/tests/test_abundance_matching.py
  skypy/halos/tests/test_import.py
  skypy/halos/tests/test_mass.py
  skypy/halos/tests/test_quenching.py
Labels: infrastructure, module: halo

#424 Download links for data files in examples
  examples/galaxies/plot_schechter.py
  examples/galaxies/plot_size.py
Labels: documentation, examples

#426 fetch-depth zero
  .github/workflows/tests.yaml
Labels: continuous integration

#427 Code style status check using flake8
  .github/workflows/codestyle.yaml
  CONTRIBUTING.rst
  setup.cfg
  tox.ini
Labels: continuous integration, infrastructure, tests

#430 Fix flake8 code style errors in power_spectrum module
  skypy/power_spectrum/tests/test_import.py
Labels: continuous integration, infrastructure, module: power spectrum, tests

#431 Fix flake8 code style errors in halos module
  skypy/halos/tests/test_import.py
Labels: continuous integration, infrastructure, module: halos, tests

#434 Update name of default branch to main
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/codestyle.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/tests.yaml
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
  docs/install.rst
  skypy/pipeline/_pipeline.py
Labels: documentation, infrastructure

#432 update mailmap
  .mailmap
Labels: infrastructure

#425 Write all tables to a single FITS/HDF5 file
  docs/install.rst
  docs/pipeline/index.rst
  examples/galaxies/plot_photometry.py
  setup.cfg
  skypy/pipeline/_pipeline.py
  skypy/pipeline/scripts/skypy.py
  skypy/pipeline/tests/test_pipeline.py
  skypy/pipeline/tests/test_skypy.py
Labels: enhancement, infrastructure, module: pipeline

#422 ADR 3: Position sampling and patches of the sky
  docs/arch/adr-03.md
Labels: ADR

#437 BUG: Raise ImportError if optional dependency speclite is not installed
  skypy/utils/photometry.py
  skypy/utils/tests/test_photometry.py
Labels: bug, module: photometry

#440 MAINT: Set NumPy latest supported version to 1.20
  tox.ini
Labels: continuous integration, infrastructure, tests
