Repository skypyproject/skypy, pull requests merged in 2022-05, with the labels that each got.

#545 TST: assert photometric error is numerically close to the analytic value
  skypy/utils/tests/test_photometry.py
Labels: tests, module: photometry, compatibility

#546 TST: Drop deprecated astropy.tests.helper.raises
  skypy/utils/tests/test_special.py
Labels: tests, astropy

#521 ENH: Logistic completeness function
  docs/utils/index.rst
  skypy/utils/photometry.py
  skypy/utils/tests/test_photometry.py
Labels: enhancement, module: utils

#525 BUG: `schechter_smf` callable input and docs
  skypy/galaxies/__init__.py
  skypy/galaxies/stellar_mass.py
  skypy/galaxies/tests/test_stellar_mass.py
Labels: bug, module: galaxies
