Repository skypyproject/skypy, pull requests merged in 2022-07, with the labels that each got.

#455 ENH: Power spectrum base classes
  skypy/power_spectrum/_base.py
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/_classy.py
  skypy/power_spectrum/_eisenstein_hu.py
  skypy/power_spectrum/tests/test_camb.py
  skypy/power_spectrum/tests/test_eisenstein_hu.py
Labels: enhancement, infrastructure, module: power spectrum, ps-hack

#555 TST: Adding unit test for TabulatedPowerSpectrum
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/tests/test_base.py
Labels: enhancement, module: power spectrum

#556 [TST] Classy test data fixed to classy v2.9.4
  skypy/power_spectrum/tests/data/class_result.txt
  skypy/power_spectrum/tests/test_class.py
Labels: bug, module: power spectrum

#554 MAINT: Delete CAMB function
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/_camb.py
  skypy/power_spectrum/tests/test_camb.py
Labels: module: power spectrum, ps-hack

#559 MAINT: Documentation for power spectrum
  docs/power_spectrum/index.rst
  skypy/power_spectrum/_camb.py
Labels: bug, documentation, module: power spectrum, ps-hack

#560 MAINT: Delete classy function
  docs/power_spectrum/index.rst
  skypy/power_spectrum/__init__.py
  skypy/power_spectrum/_classy.py
Labels: module: power spectrum, ps-hack

#562 DOC: Add doctsring for CLASSY class
  skypy/power_spectrum/_classy.py
Labels: documentation, module: power spectrum, ps-hack
